<div class="login-wrapper">
  <div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form class="example-form" [formGroup]="emailFormControl">

      <!-- Campo de seleccion de email -->
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input id="email" type="email" matInput  placeholder="Ex. pat@example.com" formControlName="email">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
        }
      </mat-form-field>

      <!-- Campo de seleccion de contraseña -->
      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <!-- Campo de Selección de Rol -->
      <mat-form-field>
        <mat-label>Selecciona rol</mat-label>
        <mat-select formControlName="rol">
          <mat-option value="admin">admin</mat-option>
          <mat-option value="developer">programador</mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="logear()" type="submit" class="login-button">Ingresar</button>
    </form>
    <label class="label-message">{{mensaje}}</label>
  </div>
</div>
