
@if (!login) {
  <div class="modal">
    <div class="modal-content">
      <p>Debe iniciar sesión para acceder a esta página.</p>
      <button routerLink="/login">Iniciar Sesión</button>
    </div>
  </div>
} @else {
  <div class="container">
    <div class="item">
      <img routerLink="/crear-tarea" src="../../assets/nuevatarea.png" alt="Imagen 1" class="imagen">
      <h2>Crear tarea</h2>
    </div>
    <div class="item">
      <img routerLink="/modificar-tarea" src="../../assets/modificartarea.png" alt="Imagen 2" class="imagen">
      <h2>Modificar tarea</h2>
    </div>
    <div class="item">
      <img routerLink="/borrar-tarea" src="../../assets/borrartarea.png" alt="Imagen 3" class="imagen">
      <h2>Eliminar tarea</h2>
    </div>
  </div>
}
