.selector-container {
  text-align: center;
  background-color: #f4f4f4; /* Color de fondo */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Ajusta según tus necesidades */
  margin: auto;
}

.selector-container h1 {
  color: #333; /* Color del título */
  margin-bottom: 20px;
}

.dropdown-container {
  margin-bottom: 20px;
}

.programador-dropdown {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.buscar-btn {
  background-color: #4CAF50; /* Color del botón */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.buscar-btn:hover {
  background-color: #45a049;
}
