@import '@angular/material/prebuilt-themes/purple-green.css';

body {
  background-image: url('/assets/fondo.png'); /* Reemplaza con la ruta real de la imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
